# Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
doc/api/
*.iml

# IDE
.idea/
.vscode/

# Build output
dist/
*.exe

# OS
.DS_Store
*.log
coverage/
.tmp/
tmp/

# Env / secrets
.env
.env.*
!.env.example
*.pem
secrets/
